@tailwind base;
@tailwind components;
@tailwind utilities;

.navbgColor {
  background-color: #759cab;
}
.mainbgColor {
  background-color: #ac8474;
}
.catalogbgColor {
  background-color: #614034;
}
.borderbooksColor {
  border-color: #4e7280;
}
/* id */
#anchorcolor {
  color: blue;
  text-decoration: underline;
}
